html, body {
	height: 100%;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #212121;
	background-color: #fafafa;
}

header {
	background-color: #212121;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 0 2rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header > div {
	text-transform: uppercase;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	display: inline;
}

header a {
	display: inline-block;
	color: #fff;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 5rem;
	text-decoration: none;
}

header a:hover {
	color: #ccc;
}

main {
	flex: 1 0 auto;
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	padding: 2rem;
	border-bottom: 1px #ccc solid;
	box-sizing: border-box;
}

footer {
	flex-shrink: 0;
	width: 100%;
	max-width: 1160px;
	margin: 0px auto;
	padding: 2rem;
	color: #616161;
	font-size: 0.9rem;
	box-sizing: border-box;
}
